section#one{
	background-image: url("../assets/backgrounds/landing.jpg");
background-position: center;
padding: 20px;
min-height: 300px;
}
div#nav{
	width :5;
}

body{
	margin: 0px;
	padding: 0px;
font-family: 'Quicksand', sans-serif;
}



.box-2{
	background-image: url("../assets/backgrounds/foodsBg.jpg");
	background-position: center;
	background-size: : 100px;
	min-height: 30px;
	padding: 20px;
	min-height: 300px;
	align-items: center;



}

.box-1{
	background-image: url("../assets/backgrounds/subscribe.jpg");
	min-height: 300px;
	background-position: center;
	font-size: 40px;
	text-align: center;


}

.box-4{
	
	overflow: auto;
	border-style: 25px transparent;
	padding: 25px;
	margin: 25px;
	
}

.row1:hover #breakfast {
  opacity: 0.5;
}
.row1:hover #dinner {
	opacity: 0.5;
}
.row1:hover #lunch {
	opacity:0.5;
}

.row1 {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%; /*Same as 1fr*/
	grid-template-rows: 50% 50%;
	height: 200px;
}

#happyhour {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: pink;
}
#partytime {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #F15A29;


}	
#breakfast {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1; 
	grid-row-end: span 3;
	text-align: center;
	background-image: url("../assets/foodtop/breakfast.jpg")
}
#dinner{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: span 3;
	text-align: center;
	background-image: url("../assets/foodtop/dinner.jpg")

}
#lunch{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: span 3;
	text-align: center;
	background-image: url("../assets/foodtop/lunch.jpg")
}
.content-box {

	
	overflow: auto;
	padding: 5px;
	border-radius: 4px;
	
	border: 1px solid #ddd;



}

#box-5{
	margin: auto;
}

.box-3{
	background-color: #FE642E;
	min-height: 350px;
	color: white;
	text-align: center;
	font-family: arvo;
}