section#one{
	background-image: url("../assets/backgrounds/landing.jpg");
background-position: center;
padding: 20px;
min-height: 300px;
}
div#nav{
	width :5;
}

body{
	margin: 0px;
	padding: 0px;
font-family: 'Quicksand', sans-serif;
}



.box-2{
	background-image: url("../assets/backgrounds/foodsBg.jpg");
	background-position: center;
	background-size: : 200px;
	min-height: 30px;
	padding: 20px;

}
